$gray1: #324d67;
$gray2: hsl(211, 39%, 23%);
$gray3: hsl(209, 34%, 30%);
$gray4: hsl(209, 28%, 39%);
$gray5: hsl(210, 22%, 49%);
$gray6: hsl(209, 23%, 60%);
$gray7: hsl(211, 27%, 70%);
$gray8: hsl(210, 31%, 80%);
$gray9: hsl(212, 33%, 89%);
$gray10: hsl(210, 36%, 96%);
$red1: hsl(360, 67%, 44%);
$red2: hsl(360, 71%, 66%);
$green1: hsl(125, 67%, 44%);
$green2: hsl(125, 71%, 66%);
$primary: #ab7a5f;
$primary2: hsl(22, 28%, 29%);
$primary3: hsl(22, 28%, 37%);
$primary4: hsl(22, 28%, 45%);
$primary5: hsl(22, 31%, 52%);
$primary6: hsl(22, 31%, 60%);
$primary7: hsl(22, 31%, 67%);
$primary8: hsl(20, 31%, 74%);
$primary9: hsl(22, 31%, 81%);
$primary10: hsl(22, 31%, 88%);
$black: #222;
